/* Application Layout */

/* Set html and body to full height */
html, body {
  height: 100%;
  margin: 0;
}

/* App container styles */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

app-toolbar {
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
}

.content {
  padding: 0;
  flex: 1;
  margin: 0;
  overflow-y: auto;
}

.content > * {
  margin: 0;
}

app-footer {
  flex: 0 0 auto;
  width: 100%;
}
